/* Custom Typography Styles for CKEditor Content */
.prose {
    color: #334155; /* slate-700 */
    max-width: none;
    line-height: 1.8;
}

/* Headings */
.prose h1 {
    font-size: 2.25em;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0.888em;
    color: #1c1917; /* stone-900 */
    line-height: 1.1111111;
}

.prose h2 {
    font-size: 1.7em;
    font-weight: 700;
    margin-top: 2em;
    margin-bottom: 1em;
    color: #AA1C1C; /* Site Primary Red */
    line-height: 1.3333333;
}

.prose h3 {
    font-size: 1.4em;
    margin-top: 1.6em;
    margin-bottom: 0.6em;
    font-weight: 600;
    color: #44403c; /* stone-700 */
    line-height: 1.6;
}

/* Text */
.prose p {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    font-size: 1.05rem;
}

.prose strong {
    font-weight: 600;
    color: #1c1917;
}

.prose a {
    color: #AA1C1C;
    text-decoration: underline;
    font-weight: 500;
    transition: color 0.2s;
}
.prose a:hover {
    color: #881212;
}

/* Lists */
.prose ul {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding-left: 1.625em;
    list-style-type: disc;
}
.prose ol {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding-left: 1.625em;
    list-style-type: decimal;
}

.prose li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* Media */
.prose img {
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    width: 100%;
    height: auto;
}

.prose figure {
    margin-top: 2em;
    margin-bottom: 2em;
}

.prose figcaption {
    color: #78716c;
    font-size: 0.875em;
    line-height: 1.4285714;
    margin-top: 0.8571429em;
    text-align: center;
}

/* Extras */
.prose blockquote {
    font-weight: 500;
    font-style: italic;
    color: #1c1917;
    border-left-width: 0.25rem;
    border-left-color: #e7e5e4; /* stone-200 */
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    padding-left: 1em;
}

.prose code {
    color: #AA1C1C;
    font-weight: 600;
    font-size: 0.875em;
}

.prose pre {
    color: #e7e5e4;
    background-color: #292524;
    overflow-x: auto;
    font-weight: 400;
    font-size: 0.875em;
    line-height: 1.7142857;
    margin-top: 1.7142857em;
    margin-bottom: 1.7142857em;
    border-radius: 0.375rem;
    padding: 0.8571429em 1.1428571em;
}

.prose table {
    width: 100%;
    table-layout: auto;
    text-align: left;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 0.875em;
    line-height: 1.7142857;
}

.prose thead {
    color: #1c1917;
    font-weight: 600;
    border-bottom-width: 1px;
    border-bottom-color: #d6d3d1;
}

.prose th {
    vertical-align: bottom;
    padding-right: 0.5714286em;
    padding-bottom: 0.5714286em;
    padding-left: 0.5714286em;
}

.prose tbody tr {
    border-bottom-width: 1px;
    border-bottom-color: #e7e5e4;
}

.prose td {
    vertical-align: top;
    padding: 0.5714286em;
}
